{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-default alert-dismissible" role="alert">
        <div class="container text-center">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ flashMessage }}</p>
        </div>
    </div>
{% endfor %}